

@charset "utf-8";
	.st0
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1366px;
	height : 121px;
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 42px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 42px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 42px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
